html
  head
    title My Site #{title}
    script(src='assets/scripts/main.js')
    link(href='assets/css/style.css' rel='stylesheet')
  body
    ul.nav
      each item in nav
        li
          a(href=item.url)= item.title
    block content
    block foot
      #footer
        p some footer content
